body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    /*color: rgb(117, 102, 102);*/
    color: #4aaaa5;
}

label{
    color: gray;
}

ul{
    color:red;
    list-style-type: none;
    float:right;
    padding-right: 25%;
}
li{
    display: inline;
}

a{
    text-decoration: none;
    color: slategray;
    font-family: Georgia;
    font-size: 16px;
    
}
.name{
    height: 10%;
    width: 15%;
    background-color: rgb(228, 232, 235);
    position: fixed;
    margin-left: 20%;
    text-align: center;
    padding-top: 1px;
    margin-bottom: 10px;
    
}
h3{
    font-size: 17px;
    font-family: Georgia;
}

.body{
    height: 82%;
    width: 150%;
    background-color:deepskyblue;
    position: fixed;
    margin-top: 4%;
    color:#4aaaa5;
}

.footer{
    height: 11%;
    width: 100%;
    background-color: lightskyblue;
    position: fixed;
    margin-top: 41%;
    text-align: center;
    font-size: 6px;
    padding-top: 10px;
    border-top: 5px solid orange;
}

.contact{
    width: 30%;
    height: 70%;
    position: fixed;
    margin-left:20%;
    margin-top: 2%;
    background-color: honeydew;
    padding-right: 5%;
    padding-left: 2%;
    font-size: 15px;
}

.connectwithme{
    width: 15%;
    height: 22%;
    position: fixed;
    background-color: honeydew;
    margin-left: 60%;
    margin-top: 6%;
    font-size: 10px;
    padding-left: 15px;
}

.Portfolio{
    width: 35%;
    height: 70%;
    position: fixed;
    margin-left:20%;
    margin-top: 2%;
    background-color: honeydew;
    padding-left: 2%;
    font-size: 15px;
}

.about{
    width: 35%;
    height: 57%;
    background-color: honeydew;
    position: fixed;
    margin-left:20%;
    margin-top: 6%;
    padding-left: 2%;
}
.hrabout{
    margin: 0;
    width: 90%;
    opacity: 50%;
    background-color: rgb(117, 102, 102);
}
.aboutimage{
    height: 80%;
    width: 40%;
    float: left;
    margin-right: 10px;
}
p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    color:rgb(161, 154, 154);

}

.hrconnectwithme{
    margin: 0;
    width: 90%;
    opacity: 50%;
    background-color: rgb(117, 102, 102);
}

input{
    width: 100%;
}

textarea{
    width: 100%;
    height: 30%;
    margin-bottom: 5px;
}

.hrcontact{
    margin: 1%;
    width: 100%;
    opacity: 50%;
    background-color: rgb(117, 102, 102);
}
.hrportfolio{
    margin: 1%;
    width: 90%;
    opacity: 50%;
    background-color: rgb(117, 102, 102);
}

.portfolioimage{
    margin-right: 10px;
    margin-top: 10px;
    padding: 5px;;
    width: 43%;
    height: 20%;
}
.car1{
    height: 25px;
    width: 194px;
    margin-top: 67px;
    margin-left: 5px;
    background-color: #4aaaa5;
    color: whitesmoke;
    position:fixed;
}

.car2{
    height: 25px;
    width: 194px;
    right: 589px;
    margin-top: 67px;
    background-color: #4aaaa5;
    color: whitesmoke;
    position:fixed;
}
h4{
    text-align: center;
    margin-top: 5px;
}

.iphone{
    height: 25px;
    width: 194px;
    margin-top: 175px;
    margin-left: 5px;
    background-color: #4aaaa5;
    color: whitesmoke;
    position:fixed;
}
.ipod{
    height: 25px;
    width: 194px;
    right: 589px;
    margin-top: 175px;
    background-color: #4aaaa5;
    color: whitesmoke;
    position:fixed;
}
.Bike{
    height: 25px;
    width: 194px;
    margin-top: 275px;
    margin-left: 5px;
    background-color: #4aaaa5;
    color: whitesmoke;
    position:fixed;
}
.Afcar{

    height: 25px;
    width: 194px;
    right: 589px;
    margin-top: 275px;
    background-color: #4aaaa5;
    color: whitesmoke;
    position:fixed;
}
h1{
}
