header{
    height: 50px;
    background-color: aliceblue;
}
.headercontent h2{
    width: 200px;
    height: 31px;
    padding: 10px;
    margin-left: 200px;
    font-size: 4vmin;
    background-color: rgb(175, 214, 248);
    color: darkturquoise;
    position: fixed;
}

ul{
    position: absolute;
    margin: 10px;
    right: 250px;   
}
.headercontent li{
    display: inline;
    
}

a{
    font-size: 20px;
    text-decoration: none;
    color: gray;
}

.section{
    width: 1288px;
    height: 500px;
    background-color: deepskyblue;
    display: flex;
}

.about{
    margin: 50px;
    width: 500px;
    height: 300px;
    margin-left: 200px;
    background-color: antiquewhite;
}

.about h1{
    font-size: 40px;  
    margin: 10px;  
    color: darkturquoise;
}

.about hr{
    margin-left: 10px;
    color: cadetblue;
    width: 450px;
    opacity: 40%;
}

.about p{
    margin: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 20px;
    

}

.aboutimg{
    margin: 5px;
    width: 200px;
    height: 100px;
    float: left;
}
.section2{
    margin: 50px;
    width: 250px;
    height: 150px;
    background-color: antiquewhite;
}

.section2 h1{
    font-size: 30px;  
    margin: 5px; 
    color: darkturquoise;
}

.section2 hr{
    margin-left: 10px;
    color: cadetblue;
    width: 200px;
    opacity: 40%;
}

.section2 a{
    margin-left: 20px;
}

footer{
    background-color: aqua;
    height: 43px;
    text-align: center;
}

footer h1{
    padding: 10px;
    color: rgb(90, 129, 129);
}

.portfolio{
    margin: 50px;
    width: 500px;
    height: 420px;
    background-color:antiquewhite;
    margin-left: 200px;
}

.portfolio h1 {
    font-size: 40px;  
    margin: 10px; 
    color: darkturquoise;
}

.portfolio hr {
    margin-left: 10px;
    color: cadetblue;
    width: 450px;
    opacity: 40%;
}

.box{
    display: grid;
    background-color: cadetblue;
    color: aliceblue;
    position: fixed;
}

.box1{
    grid-column: 1 / 13;
    grid-row: 1; 
}

.box2{
    grid-column: 2 / 13;
    grid-row: 1; 
}

.box3{
    grid-column: 1 / 13;
    grid-row: 2; 
}

.box4{
    grid-column: 2 / 13;
    grid-row: 2; 
}
.box5{
    grid-column: 1 / 13;
    grid-row: 3; 
}

.box5{
    grid-column: 2 / 13;
    grid-row: 3; 
}

.portfolioimage{
    margin: 5px;
    padding-left: 20px;
    height: 100px;
    width: 200px;
}

.contact{
    margin: 50px;
    width: 500px;
    height: 420px;
    background-color:antiquewhite;
    margin-left: 200px;
}

.contact h1{
    font-size: 40px;  
    margin: 10px; 
    color: darkturquoise;
}

.contact hr {
    margin-left: 10px;
    color: cadetblue;
    width: 450px;
    opacity: 40%;
}

.contact label{
    font-size: 20px;
    margin: 10px;
}

.contact input{
    margin:5px;
    width: 450px;
}

textarea{
    margin:5px;
    width: 450px;
    height: 110px;
}


@media screen and (max-width: 800px) {
    .main {margin-right: 0px;
            padding: 0px;}
    .headercontent h2 {
        width: 200px;
        height: 31px;
        font-size: 4vmin;
        background-color: rgb(175, 214, 248);
        color: darkturquoise;
        margin: 0px;
        position: relative;
    }
    ul{
        top: 10%;
    }

    .section{
        width: 500px;
        height: 1000px;
        background-color: deepskyblue;
        display: flex;
    }

    .about{
        margin: 0px;
        padding: 0px;
        margin-top: 40px;
        width: 400px;
        height: 400px;
        background-color: antiquewhite;
    }

    .section2{ 
        margin: 0px;
        margin-top: 850px;
        margin-left: -300px;
        width: 250px;
        height: 150px;
        background-color: antiquewhite;
    }

    .portfolio{
        margin: 0px;
        width: 300px;
        height: 800px;
        background-color:antiquewhite;
        margin-top: 40px;
    }

    .portfolioimage{
        margin: 5px;
        height: 100px;
        width: 200px;
    }

    .contact{
        margin: 0px;
        margin-top: 50px;
        width: 300px;
        height: 420px;
        background-color:antiquewhite;
    }

    .contact input{
        margin:5px;
        width: 200px;
    }
    
    textarea{
        margin:5px;
        width: 200px;
        height: 110px;
    }

    .contact hr{
        width: 250px;
    }
  }

